.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -10vh;
}

.section-features {
  background-image: linear-gradient(to left top,
          rgba($color-primary, 0.6),
          rgba($color-primary-light, 0.5)),
          url("../img/nat-4.jpg");
  background-size: cover;
  padding: 20rem 0;

  transform: skewY(-7deg);
  margin-top: -12vh;

  & > * {
    transform: skewY(7deg);
  }
}




























